venv/
Module3_DatabaseIntegration/hands_on_6/__pycache__/
Module3_DatabaseIntegration/hands_on_7/__pycache__/
Module3_DatabaseIntegration/hands_on_7/migrations/__pycache__/
Module3_DatabaseIntegration/hands_on_7/migrations/versions/__pycache__/
PythonBackendFrameworks/handson_01/.venv/
